#main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.loginCard {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    width: 50vw;
    height: 80vh;
    border-style: solid;
    border-radius: 5px;
    border-color: #FF2d2d;
}