/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap');
/*
 Fonts in use
 font-family: 'Abril Fatface', cursive;
 font-family: 'Lato', sans-serif;
 */
* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}
.topnav {
	display: flex;
	justify-content: space-between;

	background-color: black;
	padding: 16px;
}

.search-container {
	display: flex;
	align-items: center;
}

.topnav input[type='text'] {
	padding: 6px;
	margin-top: 8px;
	font-size: 17px;
	border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.topnav .search-container button {
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	background: #ddd;
	font-size: 17px;
	border: none;
	cursor: pointer;
    border-radius: 5px;
}

.topnav .search-container .search{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.topnav .search-container button:hover {
	background: brown;
}

.favorites {
	color: black;
	background-color: black;
	order: 1;
}
.profile {
	background-color: brown;
	float: right;
	order: 1;
}

/*menu*/
.dropbtn {
	background-color: black;
	color: white;
	padding: 16px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}
/*nav ends*/


/* movie cards */
/*
.movie-card {
	display: flex;
	flex-direction: row;
	margin: 4vh auto;
	max-width: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 6vh 3%;
	border-radius: 5px;
}
*/

/* TV show card container */
.tv-show-card {
	display: flex;
	flex-direction: row;
	margin: 4vh auto;
	max-width: 800px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	padding: 6vh 3%;
	border-radius: 5px;
}

/* TV show poster */
.tv-show-card img {
	width: 200px;
	height: 300px;
	object-fit: cover;
	margin-right: 16px;
	border-radius: 5px;
}

/* TV show information */
.tv-show-info {
	padding: 20px;
	display: flex;
	flex-direction: column;
}

.tv-show-title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}


.tv-show-length {
	font-size: 16px;
	margin-bottom: 10px;
}

.tv-show-description {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}


@media (max-width: 768px) {
	/* On small screens, stack the TV show card vertically */
	.tv-show-card {
		flex-direction: column;
	}

	.tv-show-card img {
		width: 50%;
		height: 50%;
		margin: auto;
	}
}
